@font-face {
    font-family: 'Mukta';
    src: url('Mukta-Regular.ttf');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta';
}


#reloj{
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    background-color: #3388ff;
}